---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<github_user_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1494523864'
      Etag:
      - W/"38ac7d3bb5f922ae282b794744dfb009"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jmejia","id":73824,"avatar_url":"https://avatars3.githubusercontent.com/u/73824?v=3","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jmejia/subscriptions","organizations_url":"https://api.github.com/users/jmejia/orgs","repos_url":"https://api.github.com/users/jmejia/repos","events_url":"https://api.github.com/users/jmejia/events{/privacy}","received_events_url":"https://api.github.com/users/jmejia/received_events","type":"User","site_admin":false},{"login":"worace","id":1227440,"avatar_url":"https://avatars3.githubusercontent.com/u/1227440?v=3","gravatar_id":"","url":"https://api.github.com/users/worace","html_url":"https://github.com/worace","followers_url":"https://api.github.com/users/worace/followers","following_url":"https://api.github.com/users/worace/following{/other_user}","gists_url":"https://api.github.com/users/worace/gists{/gist_id}","starred_url":"https://api.github.com/users/worace/starred{/owner}{/repo}","subscriptio[...]
