---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<github_user_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1494475059'
      Etag:
      - W/"4e7ed54343980d5c1f6611b64824f855"
      Last-Modified:
      - Fri, 17 Feb 2017 00:30:04 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"stovermc","id":15877604,"avatar_url":"https://avatars0.githubusercontent.com/u/15877604?v=3","gravatar_id":"","url":"https://api.github.com/users/stovermc","html_url":"https://github.com/stovermc","followers_url":"https://api.github.com/users/stovermc/followers","following_url":"https://api.github.com/users/stovermc/following{/other_user}","gists_url":"https://api.github.com/users/stovermc/gists{/gist_id}","starred_url":"https://api.github.com/users/stovermc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stovermc/subscriptions","organizations_url":"https://api.github.com/users/stovermc/orgs","repos_url":"https://api.github.com/users/stovermc/repos","events_url":"https://api.github.com/users/stovermc/events{/privacy}","received_events_url":"https://api.github.com/users/stovermc/received_events","type":"User","site_admin":false,"name":"Mark
        Stover","company":null,"blog":"","location":"Denver, CO","email":"stovermc@gmail.com","hireable":true,"bio":"Student
        @TuringSchool","public_repos":33,"public_gists":5,"followers":9,"following":13,"created_at":"2015-11-16T20:00:51Z","updated_at":"2017-02-17T00:30:04Z"}'
  recorded_at: Thu, 11 May 2017 03:44:01 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<github_user_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1494475059'
      Etag:
      - W/"a872d30c3ee85483535391366be362d4"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90701852,"name":"APICurious","full_name":"stovermc/APICurious","owner":{"login":"stovermc","id":15877604,"avatar_url":"https://avatars0.githubusercontent.com/u/15877604?v=3","gravatar_id":"","url":"https://api.github.com/users/stovermc","html_url":"https://github.com/stovermc","followers_url":"https://api.github.com/users/stovermc/followers","following_url":"https://api.github.com/users/stovermc/following{/other_user}","gists_url":"https://api.github.com/users/stovermc/gists{/gist_id}","starred_url":"https://api.github.com/users/stovermc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stovermc/subscriptions","organizations_url":"https://api.github.com/users/stovermc/orgs","repos_url":"https://api.github.com/users/stovermc/repos","events_url":"https://api.github.com/users/stovermc/events{/privacy}","received_events_url":"https://api.github.com/users/stovermc/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/stovermc/APICurious","description":null,"fork":false,"url":"https://api.github.com/repos/stovermc/APICurious","forks_url":"https://api.github.com/repos/stovermc/APICurious/forks","keys_url":"https://api.github.com/repos/stovermc/APICurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/stovermc/APICurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/stovermc/APICurious/teams","hooks_url":"https://api.github.com/repos/stovermc/APICurious/hooks","issue_events_url":"https://api.github.com/repos/stovermc/APICurious/issues/events{/number}","events_url":"https://api.github.com/repos/stovermc/APICurious/events","assignees_url":"https://api.github.com/repos/stovermc/APICurious/assignees{/user}","branches_url":"https://api.github.com/repos/stovermc/APICurious/branches{/branch}","tags_url":"https://api.github.com/repos/stovermc/APICurious/tags","blobs_url":"https://api.github.com/repos/stovermc/APICurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/stovermc/APICurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/stovermc/APICurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/stovermc/APICurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/stovermc/APICurious/statuses/{sha}","languages_url":"https://api.github.com/repos/stovermc/APICurious/languages","stargazers_url":"https://api.github.com/repos/stovermc/APICurious/stargazers","contributors_url":"https://api.github.com/repos/stovermc/APICurious/contributors","subscribers_url":"https://api.github.com/repos/stovermc/APICurious/subscribers","subscription_url":"https://api.github.com/repos/stovermc/APICurious/subscription","commits_url":"https://api.github.com/repos/stovermc/APICurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/stovermc/APICurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/stovermc/APICurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/stovermc/APICurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/stovermc/APICurious/contents/{+path}","compare_url":"https://api.github.com/repos/stovermc/APICurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/stovermc/APICurious/merges","archive_url":"https://api.github.com/repos/stovermc/APICurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/stovermc/APICurious/downloads","issues_url":"https://api.github.com/repos/stovermc/APICurious/issues{/number}","pulls_url":"https://api.github.com/repos/stovermc/APICurious/pulls{/number}","milestones_url":"https://api.github.com/repos/stovermc/APICurious/milestones{/number}","notifications_url":"https://api.github.com/repos/stovermc/APICurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/stovermc/APICurious/labels{/name}","releases_url":"https://api.github.com/repos/stovermc/APICurious/releases{/id}","deployments_url":"https://api.github.com/repos/stovermc/APICurious/deployments","created_at":"2017-05-09T04:18:04Z","updated_at":"2017-05-11T00:21:34Z","pushed_at":"2017-05-10T23:13:17Z","git_url":"git://github.com/stovermc/APICurious.git","ssh_url":"git@github.com:stovermc/APICurious.git","clone_url":"https://github.com/stovermc/APICurious.git","svn_url":"https://github.com/stovermc/APICurious","homepage":null,"size":47,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Thu, 11 May 2017 03:44:02 GMT
recorded_with: VCR 3.0.3
