---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<github_user_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1494471252'
      Etag:
      - W/"4e7ed54343980d5c1f6611b64824f855"
      Last-Modified:
      - Fri, 17 Feb 2017 00:30:04 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"stovermc","id":15877604,"avatar_url":"https://avatars0.githubusercontent.com/u/15877604?v=3","gravatar_id":"","url":"https://api.github.com/users/stovermc","html_url":"https://github.com/stovermc","followers_url":"https://api.github.com/users/stovermc/followers","following_url":"https://api.github.com/users/stovermc/following{/other_user}","gists_url":"https://api.github.com/users/stovermc/gists{/gist_id}","starred_url":"https://api.github.com/users/stovermc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stovermc/subscriptions","organizations_url":"https://api.github.com/users/stovermc/orgs","repos_url":"https://api.github.com/users/stovermc/repos","events_url":"https://api.github.com/users/stovermc/events{/privacy}","received_events_url":"https://api.github.com/users/stovermc/received_events","type":"User","site_admin":false,"name":"Mark
        Stover","company":null,"blog":"","location":"Denver, CO","email":"stovermc@gmail.com","hireable":true,"bio":"Student
        @TuringSchool","public_repos":33,"public_gists":5,"followers":9,"following":13,"created_at":"2015-11-16T20:00:51Z","updated_at":"2017-02-17T00:30:04Z"}'
  recorded_at: Thu, 11 May 2017 02:29:45 GMT
recorded_with: VCR 3.0.3
